* {
  font-family: sans-serif;
  background-color: #171717;
  color: #fafaf9;
}

.conteiner {
  width: 1352px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 50px 20px;
  margin-bottom: 131px;
}

.navigation__row__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.navigation__row__items--link {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.navigation__row__items--link:hover {
  text-decoration: underline;
}

.navigation__logo {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

/***********************hero**************/

.hero {
  padding-left: 97px;
  position: relative;
}
.hero-content {
  width: 65%;
}
.hero__title {
  padding-bottom: 46px;

  font-weight: 800;
  font-size: 172px;
  line-height: 170px;

  letter-spacing: -2px;
  text-transform: uppercase;
}
.hero__text {
  width: 64%;
  padding-bottom: 50px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;

  color: rgba(239, 237, 232, 0.65);
}
.hero__btn {
  display: inline-block;
  position: relative;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;

  padding: 24px;
  text-decoration: none;
  background: #e6533c;
  border-radius: 10px;
}
.hero__btn:hover {
  padding: 24px;
  text-decoration: none;
  background: #2e0899;
  border-radius: 10px;
}
.hero__picture {
  position: absolute;
  background: none;
  top: 67px;
  left: 64%;
}
.hero__info-distance {
  position: absolute;
  box-sizing: border-box;

  height: 110px;

  top: 31px;
  left: 1220px;

  padding: 46px 60px 14px 26px;

  background: #ef8964;
  border-radius: 12px;
}
.hero__info-distance-number {
  position: relative;

  font-weight: 700;
  font-size: 48px;
  line-height: 50px;

  letter-spacing: -2px;
  text-transform: uppercase;

  background: none;
}
.hero__info-distance-number::before {
  content: "";

  position: absolute;
  bottom: 62px;
  left: 4px;

  width: 16px;
  height: 16px;
  background: url(../img/runner.svg);
  background-size: 16px 16px;
}
.hero__info-distance-number::after {
  content: "km";
  margin-left: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.5px;

  color: rgba(239, 237, 232, 0.65);

  text-transform: none;
  background: none;
}

.hero__info-tutorial {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 12px;
  top: 420px;
  left: 800px;
  padding: 20px 23px;

  background-color: #303030;
  border-radius: 12px;
}

.hero__info-tutorial-arrow {
  background: none;
}

.hero__info-tutorial-description {
  background: none;
}

.hero__info-tutorial-quantity {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.3px;

  padding-bottom: 8px;

  background: none;
}

.hero__info-tutorial-quantity::after {
  content: "+";
  margin-left: 2px;
}

.hero__info-tutorial-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.5px;

  color: rgba(239, 237, 232, 0.65);
  background: none;
}

.hero__info-video {
  position: absolute;
  display: inline-block;
  top: 530px;
  left: 1270px;
  padding: 13px 19px;

  background-color: #7a29dc;
  border-radius: 12px;
}

.hero__info-video-quantity {
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 1px;

  background: none;
}

.hero__info-video-quantity::after {
  content: "+";
  margin-left: 2px;
}

.hero__info-video-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;

  color: rgba(239, 237, 232, 0.65);

  background: none;
}
