.experience {
  padding-bottom: 30px;
  @media screen and (min-width: $desktop) {
    padding-bottom: 180px;
  }

  &-title {
    position: relative;
    font-family: $Poppins;
    @include font(600, 23.71px, 35.57px, $white);
    letter-spacing: 5%;

    text-align: center;
    margin-bottom: 31px;
    letter-spacing: 5%;
    @media screen and (min-width: $desktop) {
      text-align: left;
      @include font(600, 56.48px, 84.72px, $white);
      &::before {
        content: "";
        position: absolute;
        top: 40px;
        left: -145px;
        display: block;
        width: 130px;
        height: 1px;
        background-color: $grey-dark;
        border-radius: 2px;
      }
      &::after {
        content: "";
        position: absolute;
        top: 40px;
        right: -140px;
        display: block;
        width: 700px;
        height: 1px;
        background-color: $grey-dark;
        border-radius: 2px;
      }
    }
  }
  &-gallery {
    @media screen and (min-width: $desktop) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }
  }
  &__item {
    display: inline;
    list-style: none;
    position: relative;
    margin: 0 auto 8px;
    @media screen and (min-width: $desktop) {
      margin: 0;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
  &__info {
    position: absolute;
    left: 32px;
    bottom: 23px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    font-weight: 600;
    color: $white;
  }
  &__info-title {
    font-family: $Poppins;
    @include font(600, 12.93px, 19.39px, $white);
    letter-spacing: 5%;
    @media screen and (min-width: $desktop) {
      @include font(600, 25.76px, 38.65px, $white);
    }
  }
  &__info-text {
    font-family: $Poppins;
    @include font(600, 7.11px, 10.66px, $white);
    letter-spacing: 5%;
    @media screen and (min-width: $desktop) {
      @include font(600, 14.16px, 21.25px, $white);
    }
  }
  &__info-year {
    font-family: $Poppins;
    @include font(600, 6.14px, 9.21px, $white);
    letter-spacing: 5%;
    @media screen and (min-width: $desktop) {
      @include font(600, 12.24px, 18.36px, $white);
    }
  }
}
