.general-backgraund {
  background: #12274f;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;
}

.navigation__logo {
}

.navigation__menu {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 21px;
}

.navigation__item {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;

  list-style-type: none;

  color: #ffffff;
}

.navigation__searh {
  display: flex;
  align-items: center;

  gap: 56px;

  border-bottom: 2px solid #ffffff;
}

.navigation__searh-text {
  font-size: 24px;
  line-height: 36px;

  color: #ffffff;
}

/****************content******************/

.content {
  display: flex;
  justify-content: space-between;

  padding: 100px 80px 60px;
}

.content__aside {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 600px;

  background-image: url(/img/Vector\ 1.svg);
  background-repeat: no-repeat;
}

.content__aside-title {
  margin-top: 37px;

  font-weight: 800;
  font-size: 55px;
  line-height: 82px;

  color: #ffffff;
}

.content__more {
  display: flex;

  gap: 14px;
  margin-top: 23px;
}

.content__more-logo {
  width: 96px;
  height: 96px;
}
.content__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 250px;
  height: 96px;

  border-radius: 50px;
  box-shadow: 0px 10px 0px #12274f;
  background: #00ff75;
}
.content__btn-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;

  text-decoration: none;

  color: #ffffff;
}

.content__avatar {
}

/***************social************/

.social {
  display: flex;
  justify-content: center;

  padding: 0px 0px 40px;
  gap: 78px;
}

.social__logo {
  width: 50px;
  height: 50px;
}
